{{ define "contents" }}
<h1>Files</h1>



<ul class="list-group">
{{ range $idx,$element:= . }}


<li class="list-group-item" data-toggle="popover"  title="{{ $element.Name }}"  >{{ .Name }}<a href="/files/{{ $element.Name }}"> <span class="pull-right glyphicon glyphicon-download" aria-hidden="true"></span></a><input type="checkbox"  name="files[{{ $idx }}]" class="selectFile pull-right" value="{{ $element.Name }}"/>

</li>


{{ end }}
</ul>
<div class="btn-group">
  <button type="button" class="btn btn-primary" id="downloadZip"><span class=" glyphicon glyphicon-compressed" aria-hidden="true"></span> Download Zip</button>
</div>

{{ end }}

